.margin-right-10 {
    margin-right:10px
}

body {
    overflow-x: hidden;
    height:auto !important ;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #444444;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.margin-0 {
    margin:0px;
}

.border-rect {
    border-radius: 0px
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.pointer-click {
    cursor: pointer;

}

.no-padding {
   padding:0px !important ;
}

.margin-left-15 {
    margin-left:15px;
}

ul.notifications {
    position: fixed;
}

li.notification {
     background-color: #449d44;
}

.top-menu {
    position:fixed;
    width:100%;
    z-index:1;
    top:0px
}

#sidebar-wrapper {
    top:50px
}

#page-content-wrapper{
    /*left:250px;*/
    position:relative;
    padding-left:250px;
}

.container{
    padding-left:0px;
}
/*for test */
.facebookLink{
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 110px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 53.9px;
    color:white;
    position:fixed;
    /*height:100%;*/
    /*margin-right:40px;*/
}

.satie{
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 110px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 53.9px;
    color:#357c8d;
    position:fixed;
    cursor:pointer;
}

.satieFalse{
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 110px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 53.9px;
    color:white;
    position:fixed;
    cursor:pointer;
}

.uniteALink{
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 70px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 53.9px;
    color:white;
    position:fixed;
    /*height:100%;*/
    /*margin-right:40px;*/
}


.bottom-menu{
    position:fixed;
    bottom:0px;
    height:40px;
    width:100%;
    background-color:#171f2a;
    padding:0px;
    padding-top:10px;
}

.menu-expanded{
    height:50vh;
}

.horizontal-menu-item{
    cursor:pointer;
    display: inline;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    color:lightgray;
    height:100%;
    margin-left:2%;
    padding-left:25px;
    padding-right:25px;
    padding-top:10px;
    padding-bottom:30px;

}

.horizontal-menu-item:hover{
    background-color:black;
    color:white;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.horizontal-menu-item-selected{
    background-color: #0e131a;
    color:white;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}


@media only screen and (max-device-width: 720px) {
    .horizontal-menu-item {
        margin-left:0%;
        margin-right:0%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

/*///////////////////////////////////////////////*/

.rotation-slow {
   -webkit-animation: myOrbit 15s linear infinite; /* Chrome, Safari 5 */
    -moz-animation: myOrbit 15s linear infinite; /* Firefox 5-15 */
    -o-animation: myOrbit 15s linear infinite; /* Opera 12+ */
    animation: myOrbit 15s linear infinite; /* Chrome, Firefox 16+,*/
}

.rotation-very-slow {
   -webkit-animation: myOrbit-small 10s linear infinite; /* Chrome, Safari 5 */
    -moz-animation: myOrbit-small 10s linear infinite; /* Firefox 5-15 */
    -o-animation: myOrbit-small 10s linear infinite; /* Opera 12+ */
    animation: myOrbit-small 10s linear infinite;
}



/*
 * Set up the keyframes to actually describe the begining and end states of
 * the animation.  The browser will interpolate all the frames between these
 * points.  Again, remember your vendor-specific prefixes for now!
 */
@-webkit-keyframes myOrbit {
    from { -webkit-transform: rotate(0deg) translateX(30px) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(30px) rotate(-360deg); }
}

@-moz-keyframes myOrbit {
    from { -moz-transform: rotate(0deg) translateX(30px) rotate(0deg); }
    to   { -moz-transform: rotate(360deg) translateX(30px) rotate(-360deg); }
}

@-o-keyframes myOrbit {
    from { -o-transform: rotate(0deg) translateX(30px) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(30px) rotate(-360deg); }
}

@keyframes myOrbit {
    from { transform: rotate(0deg) translateX(30px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(30px) rotate(-360deg); }
}

/**/

@-webkit-keyframes myOrbit-small {
    from { -webkit-transform: rotate(0deg) translateX(15px) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(10px) rotate(-360deg); }
}

@-moz-keyframes myOrbit-small {
    from { -moz-transform: rotate(0deg) translateX(15px) rotate(0deg); }
    to   { -moz-transform: rotate(360deg) translateX(15px) rotate(-360deg); }
}

@-o-keyframes myOrbit-small {
    from { -o-transform: rotate(0deg) translateX(15px) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(15px) rotate(-360deg); }
}

@keyframes myOrbit-small {
    from { transform: rotate(0deg) translateX(15px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(15px) rotate(-360deg); }
}

/**/





.txtlzr-mobile
{
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 53.9px;
    color:white;
    font-size: 40px;
    width:60vw;
    height:60vh;
    margin-left: 100px;
    margin-top: 50px;
}

.txtlzr-descripcion-mobile
{
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 53.9px;
    color:white;
    font-size: 30px;
    width:60vw;
    height:60vh;
    margin-left: 100px;
    margin-top: 100px;


}

@media only screen and (min-device-width: 768px)  {
    .mobileOnly{
        display:none !important;
    }
}

@media only screen and (max-device-width:767px)  {
    .desktopOnly{
        display:none !important;
    }
}

@media only screen and (min-device-width: 1000px)  {
    .informacion-actividad{
        margin-top:30vh;
        width:420px;
        height:60vh;
        display:block;
        position:relative;
        float:left;
        margin-left:30px;

    }
    .template-dibujo {
        width:550px;
        height:50vh;
        margin-top:30vh;
        position:relative;
        display:block;
        float:right;

    }
    .actividad-nombre{
        font-family: Tahoma, Verdana, Segoe, sans-serif;
        font-size: 49px;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        line-height: 53.9px;
        color:white;
        position:fixed;
        height:100%;
        width:450px;

        /*margin-right:40px;*/
    }
    .actividad-descripcion{
        margin-top:50px;
        font-family: Tahoma, Verdana, Segoe, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        line-height: 53.9px;
        color:white;
        position:fixed;
        width:450px;
    }
    #txtlzr
    {
        font-family: Tahoma, Verdana, Segoe, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        line-height: 53.9px;
        color:white;
        font-size: 40px;
        width:100%;
        height:60vh;
    }

    #txtlzr-descripcion
    {
        font-family: Tahoma, Verdana, Segoe, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        line-height: 53.9px;
        color:white;
        font-size: 20px;
        font-kerning: auto;
        width:100%;
        height:60vh;
        margin-top:50px;

    }
}

@media only screen and (max-device-width:767px)  {
    .informacion-actividad{
        display:none !important;
    }
    .no-height-mobil{
        height:0 !important;
    }
}

@media only screen and (max-device-width: 999px)  {
    .informacion-actividad{
        margin-top:30vh;
        width:420px;
        height:60vh;
        display:block;
        position:relative;
        float:left;
        margin-left:30px;

    }
    .template-dibujo {
        width:550px;
        height:50vh;
        margin-top:30vh;
        position:relative;
        display:block;
        float:right;

    }
    .actividad-nombre{
        font-family: Tahoma, Verdana, Segoe, sans-serif;
        font-size: 49px;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        line-height: 53.9px;
        color:white;
        position:fixed;
        height:100%;
        width:450px;

        /*margin-right:40px;*/
    }
    .actividad-descripcion{
        margin-top:50px;
        font-family: Tahoma, Verdana, Segoe, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        line-height: 53.9px;
        color:white;
        position:fixed;
        width:450px;
    }
    #txtlzr
    {
        font-family: Tahoma, Verdana, Segoe, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        line-height: 53.9px;
        color:white;
        font-size: 30px;
        width:100%;
        height:60vh;
    }

    #txtlzr-descripcion
    {
        font-family: Tahoma, Verdana, Segoe, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        line-height: 53.9px;
        color:white;
        font-size: 10px;
        font-kerning: auto;
        width:100%;
        height:60vh;
        margin-top:50px;

    }
}


.up-and-fadeout {
    -webkit-animation: upandfadeout 4s linear infinite; /* Chrome, Safari 5 */
    -moz-animation: upandfadeout 4s linear infinite; /* Firefox 5-15 */
    -o-animation: upandfadeout 4s linear infinite; /* Opera 12+ */
    animation: upandfadeout 4s linear infinite;
}



/*
 * Set up the keyframes to actually describe the begining and end states of
 * the animation.  The browser will interpolate all the frames between these
 * points.  Again, remember your vendor-specific prefixes for now!
 */
@-webkit-keyframes upandfadeout {
    0% { opacity: 0; bottom:0px }
    50% { opacity: 1; bottom:30px }
    100%   { opacity: 0; bottom:60px }
}

@-moz-keyframes upandfadeout {
    0% { opacity: 0; bottom:0px }
    50% { opacity: 1; bottom:30px }
    100%   { opacity: 0; bottom:60px }
}

@-o-keyframes upandfadeout {
    0% { opacity: 0; bottom:0px }
    50% { opacity: 1; bottom:30px }
    100%   { opacity: 0; bottom:60px }
}

@keyframes upandfadeout {
    0% { opacity: 0; bottom:0px }
    50% { opacity: 1; bottom:30px }
    100%   { opacity: 0; bottom:60px }
}

.up-and-down{
    -webkit-animation: upanddown 10s linear infinite; /* Chrome, Safari 5 */
    -moz-animation: upanddown 10s linear infinite; /* Firefox 5-15 */
    -o-animation: upanddown 10s linear infinite; /* Opera 12+ */
    animation: upanddown 10s linear infinite;
}



@-webkit-keyframes upanddown {
    0% { opacity: 1; left:0px;bottom:0px }
    35% { opacity: 1; left:0px;bottom:30px}
    70%   { opacity: 1; left:0px;bottom:-30px}
    100%   { opacity: 1; left:0px;bottom:0 }
}

@-moz-keyframes upanddown {
    0% { opacity: 1; left:0px;bottom:0px }
    35% { opacity: 1; left:0px;bottom:30px}
    70%   { opacity: 1; left:0px;bottom:-30px}
    100%   { opacity: 1; left:0px;bottom:0 }
}

@-o-keyframes upanddown {
    0% { opacity: 1; left:0px;bottom:0px }
    35% { opacity: 1; left:0px;bottom:30px}
    70%   { opacity: 1; left:0px;bottom:-30px}
    100%   { opacity: 1; left:0px;bottom:0 }
}

@keyframes upanddown {
    0% { opacity: 1; left:0px;bottom:0px }
    35% { opacity: 1; left:0px;bottom:30px}
    70%   { opacity: 1; left:0px;bottom:-30px}
    100%   { opacity: 1; left:0px;bottom:0 }
}

.right-continuos{
    -webkit-animation: rightcontinuos 2s linear infinite; /* Chrome, Safari 5 */
    -moz-animation: rightcontinuos 2s linear infinite; /* Firefox 5-15 */
    -o-animation: rightcontinuos 2s linear infinite; /* Opera 12+ */
    animation: rightcontinuos 2s linear infinite;
}

@-webkit-keyframes rightcontinuos {
    0% { opacity: 0; left:-30px;top:-5px }
    50% { opacity: 1; left:30px;top:0px }
    100%   { opacity: 0; left:60px;top:5px }
}

@-moz-keyframes rightcontinuos {
    0% { opacity: 0; left:-30px }
    50% { opacity: 1; left:30px }
    100%   { opacity: 0; left:60px }
}

@-o-keyframes rightcontinuos {
    0% { opacity: 0; left:-30px }
    50% { opacity: 1; left:30px }
    100%   { opacity: 0; left:60px }
}

@keyframes rightcontinuos {
    0% { opacity: 0; left:-30px;top:10px }
    50% { opacity: 1; left:30px;top:0px }
    100%   { opacity: 0; left:60px;top:-10px }
}
